<%- include('partials/header.ejs'); -%>
    <h1>COMPOSE</h1>

    <form action="/compose" method="post">
        <!-- <input type="text" name="text" id="" autocomplete="off"> -->
        <div class="form-group y-3">
            <label class="mb-2" for="title">Title</label>
            <% if(postTitle.length===0) { %>
                <input type="text" name="title" class="form-control" id="title" placeholder="" required>
                <% } else { %>
                    <input type="text" value="<%=postTitle%>" name="title" class="form-control" id="title" placeholder=""
                    required>
                    <% } %>
        </div>
        <div class="form-group my-3">
            <label class="mb-2" for="post">Post</label>
            <textarea name="postContent" id="post" rows="3" class="form-control" required><%= postContent %></textarea>
        </div>
        <button class="btn btn-primary my-3" type="submit">Publish</button>
    </form>

    <%- include('partials/footer.ejs'); -%>