/* body {
  font-family: "Poppins", sans-serif;
}

.nav-brand-custom-style span {
  font-size: 24px;
  font-weight: 700;
  color: #272727;
  text-transform: uppercase;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote_btn-container a {
  color: #151515;
  margin-right: 25px;
  text-transform: uppercase;
  text-decoration: none;
}

.quote_btn-container a span {
  margin-right: 5px;
} */