<%- include('../partials/header.ejs'); -%> <% if (isLoggedIn) {%>
<main class="mb-auto">
  <div class="divide-y h-fit divide-gray-200 light:divide-gray-700">
    <div class="my-6 flex flex-col items-center gap-x-12 xl:mb-12 xl:flex-row">
      <div class="mr-8">
        <h1
          class="pb-6 text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"
        >
          Hi, <%= username %> 👋
        </h1>
        <h2 class="prose text-lg text-gray-600 dark:text-gray-400">How's your day going so far?</h2>
      </div>
    </div>
    <%- include("./entries_list.ejs"); -%>
    </div>
    <!-- <div class="flex justify-end text-base font-medium leading-6">
      <a
        class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
        aria-label="All posts"
        href="/entries"
        >All Entries →</a
      >
    </div> -->
</main>
<%} else {%>
<div class="my-6 mt-[-12rem] flex flex-col items-center gap-x-12 xl:mb-12">
  <div class="mr-0 pt-6">
    <h1
      class="pb-6 text-3xl text-center font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"
    >
      Daily Journal<br />
      Your Way Online
    </h1>
    <h2
      class="prose sm:mx-24 text-center text-lg text-gray-600 dark:text-gray-400"
    >
      Experience the ease of daily journaling with our online platform. Capture
      moments effortlessly and reflect on your day, anytime, anywhere.
    </h2>
  </div>
  <div
    class="mx-2 my-12 w-[300px] sm:w-[400px] md:w-[550px] flex items-center justify-center"
  >
    <a href="/login">
      <button
        class="bg-primary-500 w-24 rounded-md py-2 px-4 font-medium text-white sm:py-2 hover:bg-primary-700 dark:hover:bg-primary-400 focus:ring-primary-600 focus:outline-none focus:ring-2 focus:ring-offset-2 dark:ring-offset-black"
      >
        Sign in
      </button>
    </a>
  </div>
</div>
<%}%> <%- include('../partials/footer.ejs'); -%>
